<div class="trm-contacts-detail">
  <mat-card *ngIf="contact$ | async as contact; else loading">
    <mat-card-title-group class="fullBleed">
      <mat-card-title>{{contact?.name || ''}}</mat-card-title>
      <mat-card-title>{{contact?.email  || 'No email address'}}</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <dl>
        <dt>Phone:</dt> <dd>{{contact?.phone || ''}}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="center center">
      <a mat-button [routerLink]="['/contact']" title="Go back to list">Go Back</a>
    </mat-card-actions>

    <button mat-button (click)="edit.emit(contact)">Edit</button>
    <button mat-button (click)="back.emit()">Go Back</button>
    <ng-template #loading="">
      Loading contact...
    </ng-template>
  </mat-card>
</div>
