<div class="trm-contacts-details">
  <mat-card *ngIf="contact$ | async as contact; else loading">
    <mat-card-title-group class="fullBleed">
      <mat-card-title>{{contact?.firstName || ''}} {{ contact?.lastName}} </mat-card-title>
      <mat-card-title>{{contact?.email  || 'No email address'}}</mat-card-title>
      <img mat-card-md-image [src]="'assets/images/placeholder.png'">
    </mat-card-title-group>
    <mat-card-content>
      <dl>
        <dt>Phone:</dt> <dd>{{contact?.phone || ''}}</dd>

        <dt> Technologies:</dt>
        <dd *ngFor="let item of contact.technologies">
          Name: {{item.name || '-'}} <br>
          Years of experience: {{item.yearsOfExperience || '-'}}
        </dd>
      </dl>
    </mat-card-content>
    <button mat-button (click)="edit.emit(contact)">Edit</button>
    <button mat-button (click)="back.emit()">Go Back</button>
    <ng-template #loading="">
      Loading contact...
    </ng-template>
  </mat-card>
</div>
